<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="app.epf.ratp_eb_pf">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ClientApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".PreferencesActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/SlashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="fullSensor"
            tools:replace="screenOrientation" />

        <activity
            android:name=".ui.listeLines.details.DetailsLineActivity"
            android:label="Détails ligne" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".ui.detailStation.StationDetailsActivity"
            android:label="Détail station" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZgYtzNrTJ45mkr1siQIASH81YuMG2j58" />

    </application>

</manifest>